nav {
  max-height: 100%;

}

nav ul  li div{
  /*max-width: 20px;*/
  height: 30px;
  margin: 5px;
  text-overflow: ellipsis;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

nav ul  li div:hover{
  transform: scale(1.1);
  /*background-color: darkgray;*/
}
/*nav{*/
  /*top: 0px;*/
/*}*/
nav >> ul >> li >> div:active{
  transform: scale(1.1);
  border-bottom: 1px solid black;
  outline: none;
}

div.selectedMenuItem
{
  outline: none;
  border-bottom: 1px solid #404040;
}

:focus {
  outline: none;
}
