.frame {
  height: 100%;
  width: 100%;
}

.table {
  height: 100%;
  display: inline-flex;
  align-content: stretch;
  align-items: stretch;
}

.main-content {
  width: inherit;
  background-color: #d8b27d;
  overflow: auto;
  padding: 10px;
}
