
<app-header></app-header>

<div class="mainBody">

  <app-my-side-bar></app-my-side-bar>

  <div class="router-outlet">
    <router-outlet></router-outlet>
  </div>

  <!--<button type="text" (click)="display = !display" pButton icon="fa-external-link-square" label="Show">Menu</button>-->
  <!--<button type="text" (click)="display = !display">Menu</button>-->

  <!--<button (click)="display = !display"  icon="fa fa-list" label="Show" type="button" class="fa-1x ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left">-->
    <!--<span class="ui-button-icon-left ui-clickable fa fa-fw fa fa-list"></span>-->
    <!--<span class="ui-button-text ui-clickable">Menu</span>-->

    <!--<p-sidebar [(visible)]="display" position="right">-->
      <!--<nav>-->
        <!--<ul>-->
          <!--<li routerLink="/home">Home</li>-->
          <!--<li routerLink="/faq">FAQ</li>-->
        <!--</ul>-->
      <!--</nav>-->
    <!--</p-sidebar>-->

</div>

<app-footer></app-footer>
