<!--<p-menu [model]="items"></p-menu>-->

<p-menu #menu popup="popup" [model]="items" ></p-menu>
<!--<button type="button" pButton label="Show" (click)="menu.toggle($event)"><i class="fa fa-list-alt" aria-hidden="true"></i>MENU</button>-->
<!--<button type="button" pButton class="fa fa-list" label="Show" (click)="menu.toggle($event)">MENU</button>-->
<button (click)="menu.toggle($event)"
        icon="fa fa-list"
        label="Show" pbutton=""
        type="button"
        class="fa ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left" >
  <span class="ui-button-icon-left ui-clickable fa fa-fw fa fa-list"></span>
  <span class="ui-button-text ui-clickable">Menu</span>
</button>
