
<label for="VN">VN:
  <input id="VN" type="text" placeholder="X+Y+V+Z">
</label>

<label for="MK">MK:
  <input id="MK" type="text" placeholder="X">
</label>


<label for="DB">DB:
  <input id="DB" type="text" placeholder="X+Y+V+Z">
</label>


<label for="N">N:
  <input id="N" type="text" placeholder="X">
</label>

<div>
<button type="reset" class="btn btn-warning">Clear</button>
<button class="btn btn-primary">Add</button>
</div>

<p-dataTable [value]="datas">
  <p-header>Work Data for ProductSheet {{valueofAProduct}}</p-header>
  <p-column field="VN" header="VN"></p-column>
  <p-column field="MK" header="MK"></p-column>
  <p-column field="DB" header="DB"></p-column>
  <p-column field="N" header="N"></p-column>
</p-dataTable>
