@import '~font-awesome/css/font-awesome.css';
app-root {
  display: flex;
  flex-direction: column;
}
body {
  height: 100%;
}

app-header {
  min-height: 15vh;
  display: inline-flex;
  align-items: center;
  background: #237486; /* For browsers that do not support gradients */
  background: linear-gradient(#eb01a5, #d13531);
  background: -webkit-linear-gradient(-90deg, #1df4ff, #559dff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, #1df4ff, #559dff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, #1df4ff, #559dff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, #1df4ff, #559dff); /* Standard syntax */

}

app-header > div {
  min-width: 100%;
  min-height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

app-header > div > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-flow: wrap;
}
app-header > div > ul > li {
  margin: 5px;
}
.fullRemainHeight {
  min-height: 75vh;
}
