#header {
  background-image: url("../../../../assets/pattern.jpg");
  /*background-size: cover;*/
  background-size: contain;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
h1{
  display: inline;
  text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
}
