
<ul>
  <li *ngFor="let faq of faqs | async" class="listItem" (mouseover)="hoveredFaq=faq" (mouseleave)="hoveredFaq=null">
    <div >
      Kérdés: {{faq.question}}
      Válasz: {{faq.answer}}
    </div>
    <span *ngIf="hoveredFaq==faq" class="fa fa-trash" (click)="DeleteFaq(faq)"></span>
  </li>
</ul>
<hr>

<div>
  <form [formGroup]="faqForm">
    <textarea
      class="faqTextArea"
      type="text"
      placeholder="raise a new question"
      rows="3"
      formControlName="question"></textarea>
    <textarea
      class="faqTextArea"
      type="text"
      placeholder="give an answer"
      rows="3"
      formControlName="answer"></textarea>
  </form>

  <button type="button" (click)="AddFaq()" class="btn btn-primary" [disabled]="!faqForm.valid">Add</button>

</div>
